<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
      <section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--<add name="SaccoBookConnection" connectionString="XpoProvider=MySql;server=localhost;port=3306;user id=SaccoBook; password=@Butterframe_2020; database=saccobook;persist security info=true;CharSet=utf8;" />-->
    <add name="SaccoBookConnection" connectionString="XpoProvider=MSSqlServer;data source=localhost;user id=SaccoBook;password=@Butterframe_2020;initial catalog=&quot;Sacco Book&quot;;Persist Security Info=true" />
    <!--<add name="SaccoBookConnection" connectionString="XpoProvider=MSSqlServer;data source=154.16.171.80,25991; user id=Derrick;password=Abucheri1;initial catalog=&quot;Sacco Book&quot;;Persist Security Info=true" />-->
    <add name="SaccoBookEntities" connectionString="metadata=res://*/EF.SaccoBookModel.csdl|res://*/EF.SaccoBookModel.ssdl|res://*/EF.SaccoBookModel.msl;provider=System.Data.SqlClient;provider connection string='data source=DESKTOP-NLLHGNU;initial catalog=&quot;Sacco Book&quot;;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework'" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="SecurityKey" value="abucheri" />
  </appSettings>
  <applicationSettings>
    <DevExpress.LookAndFeel.Design.AppSettings>
      <setting name="DPIAwarenessMode" serializeAs="String">
        <value>System</value>
      </setting>
    </DevExpress.LookAndFeel.Design.AppSettings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>